In [2]:
import pandas as pd

df = pd.read_csv('pokemon_data.csv')

# If the data is a txt file write:
# df = pd.read_csv('pokemon_data.txt', delimiter='\t')    because a txt file is separated by tabs (excel by comas)
# we can change the delimiter to anything that was separating the columns

In [36]:
# Read the data frame
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [10]:
# Read the 3 top rows of the table
# df.head(3)

In [11]:
#Read the bottom 3 rows
#df.tail(3)

In [15]:
# Read a specific row by specifying the indice (index)
#df.iloc[0]
#df.iloc[1:5]

# Read a specific column
#df['HP']

# Reading Data in Pandas

In [35]:
## Read Headers
#df.columns

## Read each Column
#df[['Name', 'Type 1', 'HP']]

## Read a number of rows for each columns
#df['Name'][0:4]
## Or
#df[['Name', 'Type 1']][0:4]

## OR
#df.Name
#df.Name[0:4]

## iterate through rows
#for index, row in df.iterrows():
#     print(index, row['Name'])

## Filter our data and extract only the ones who have the Grass type 1
#df.loc[df['Type 1'] == "Grass"]

## Read a specific location (Row,Column)
#df.iloc[2,1]

# Sorting/Describing Data

In [50]:
#df.sort_values('Name', ascending=False)

##to sort the data by ascending names:
#df.sort_values('Name')

##To get ascending for 1st value and descending for 2nd:
#df.sort_values(['Type 1', 'HP'], ascending=[1,0])

In [51]:
#df.describe()

# Making changes to the data

In [64]:
df['Total'] = df.iloc[:, 4:10].sum(axis=1)
df.head(4)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625

In [76]:
df
#I did an oopsie, let's load the data again

,#,Name,Type 1,HP,Attack,Defense,Sp. Atk,Sp. Def
0,1,Bulbasaur,Grass,45,49,49,65,65
1,2,Ivysaur,Grass,60,62,63,80,80
2,3,Venusaur,Grass,80,82,83,100,100
3,3,VenusaurMega Venusaur,Grass,80,100,123,122,120
4,4,Charmander,Fire,39,52,43,60,50
...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,50,100,150,100,150
796,719,DiancieMega Diancie,Rock,50,160,110,160,110
797,720,HoopaHoopa Confined,Psychic,80,110,60,150,130
798,720,HoopaHoopa Unbound,Psychic,80,160,60,170,130
799,721,Volcanion,Fire,80,110,120,130,90

In [77]:
df = pd.read_csv('pokemon_data.csv')

In [78]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True